<div class="wrapper">

  <h1>Visa Calculator</h1>

  <div class="stays">
    <%= simple _form_for ?? do |s|%>
      <div class="form_group">
        <!-- input entry date -->
        <label style="font-size: 23px">Entry date</label>
        <%= f.input :date, as: :string. required: false, wrapper_html: {class: "request_input"}, input_html: {class: "datepicker"}, placeholder: 'September 19, 2019' %>
        <!-- input exit date -->
        <label style="font-size: 23px">Exit date</label>
        <%= f.input :date, as: :string. required: false, wrapper_html: {class: "request_input"}, input_html: {class: "datepicker"}, placeholder: 'September 29, 2019' %>
      </div>
    <% end %>
  </div>
</div>
