body {
  text-align: center;
  margin: 0;
  background: cornflowerblue;
  font-family: 'Montserrat', sans-serif;
}


.container {
  text-align: center;
  padding: .8em 16.2em;
}

hr.line {
  height: 1.5px;
  border: 0;
  color: #333;
  background-color: #333;
  width:50%;
  text-align: center;
  position: relative;
  bottom: 10px;
}

.time-frame-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.block-1 {
  flex-basis: 50%;
}

.block-1 p {
  margin-bottom: 33px;
  text-align: center;
}

.block-2 {
  flex-basis: 50%;
}

.block-2 p {
  text-align: center;

}


img {
  width: 50px;
  border-radius: 50px;
}

input {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 12px 10px;
  text-align: center;
  width: 250px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 12px 10px;
  text-align: center;
  cursor: pointer;
  background: coral;
  color: whitesmoke;}




/*.wrapper {

}

.stays {


}

.form_group {


}*/

/*@import '../node_modules/flatpickr/dist/flatpickr.min.css';*/
