body {
  text-align: center;
  margin: 0;
  background: #E1DDD2;
  font-family: 'Montserrat', sans-serif;
}


.landing-container {
  flex: display;
  flex-direction: column;
}

.container {
  text-align: center;
  padding: .8em 16.2em;
}

hr.line {
  height: 1.5px;
  border: 0;
  color: #333;
  background-color: #333;
  width:50%;
  text-align: center;
  position: relative;
  bottom: 10px;
}

.time-frame-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.block-1 {
  flex-basis: 50%;
}

.block-1 p {
  margin-bottom: 33px;
  text-align: center;
}

.block-2 {
  flex-basis: 50%;
}

.block-2 p {
  text-align: center;
}

.dates-field {
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-bottom : 2em;
}

img {
  width: 50px;
  border-radius: 50px;
}

input {
  border: 2px solid #ddd1d1;
  border-radius: 20px;
  padding: 12px 10px;
  text-align: center;
  width: 230px;
  font-style: italic ;
}

button {
  background: #00CC80;
  width: 230px;
  display: block;
  color: #fff;
  border-radius: 50px;
  padding: 13px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 3% auto 7%;
  position: relative;
  box-shadow: 1px, 1px, 8px, black;
}

@media screen and (max-width: 1170px) {

  .body {
    display: block
  }

  .container {
    width : 95%;
    padding: .8em;
  }

}

@media screen and (max-width: 870px) {

.container {
    width : 95%;
    padding: .8em;
    margin: 0px;
  }

 .dates-field {
  display: block;
  }

  .time-frame-container {
  display: block;
  }

  .button: {
    width: 90%;
  }

}




/*.wrapper {

}

.stays {


}

.form_group {


}*/

/*@import '../node_modules/flatpickr/dist/flatpickr.min.css';*/
